
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~nvd3/build/nv.d3.min.css';
@import '~vue-event-calendar/dist/style.css';
@import '~vue-hljs/dist/vue-hljs.min.css';
@import '~@agametov/vueditor/dist/style/vueditor.min.css';
@import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~flag-icon-css/css/flag-icon.min.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~ionicons/dist/css/ionicons.min.css';
@import '~vue-good-table/dist/vue-good-table.css';
@import '~fullcalendar/dist/fullcalendar.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

@import 'default-style.min.css';
@import 'default-style-responsive.min.css';
@import 'default-theme-default.css';
@import 'style.css';
